@charset "utf-8";
/* CSS Document */

body, html {
    font-family: 'Roboto-Regular';
}

h2 {
    color: #000000 !important;
    font-size: 130%;
    font-family: 'Roboto-Medium';
    font-style: normal;

}

.author {
    color: #a2a2a2;
    font-size: 75%;
    font-family: 'Roboto-Medium';
}

.text {
    font-size: 90%;
    color: #000000;
    font-family: 'Roboto-Medium';
}

.time {
    font-size: 75%;
    font-family: 'Roboto-Medium';
}

.possible-overview {
    padding: 0;
    margin: 0;
    width: 100%;
}

.possible-overview li, .feed-overview-container .rssfeedrow {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50px;

}

/*
.possible-overview :nth-child(odd){
   background:blue;
}
.possible-overview :nth-child(even){
background:red;
} */
.possible-overview li p, .feed-overview-container .rssfeedrow p {
    font-family: 'Roboto-Regular';
    font-size: 90%;
    float: left;
    margin-left: 25px;
    font-weight: normal;
    color:#212121;

}

.source-icon {
    width: 32px;
    height: 32px;
    padding: 0;
    margin: 0;
    float: left;
    padding-top: 9px;
}

.search-title {
    color:#212121;
    font-size: 100%;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding: 0;
}

.yellowhr {
    background-color: #FBD065;
    height: 1px;
    border: 0;
}
nav.header-nav{
    width:100%;
    background:#FFB800;
    height:56px;
    color:#212121;
}
img.home-icon{
    width:40px;
    height:40px;
    margin-top:8px;
    margin-left:12px;
    float:left;
}
.white{
color:#f7f5f5;
}
.nav-text{
     color:#212121;
    float:left;
    text-shadow:none;
    margin-left:50px;
    font-family: 'Roboto-Regular', sans serif;
    margin-top:20px;
    margin-bottom:0;
    padding-bottom: 0;
}
h1{
    color:#212121;
}
hr.line{
    background-color:#a2a2a2;
    width:100%;
    line-height: 1px;
    border:0;
}