@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Roboto-Regular';

    src: url('../fonts/Roboto-Regular.ttf') format('truetype'); /* Safari, Android, iOS */

}

@font-face {
    font-family: 'Roboto-Medium';

    src: url('../fonts/Roboto-Medium.ttf') format('truetype'); /* Safari, Android, iOS */

}